body{
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 20px;
    background:#f0f0f0;
}
.messageInfo{
    color: #007BFF;
}
h1{
    text-align: center;
    color: rgb(30, 166, 175);
}
label{
    margin-left: 0;
}

form {
    max-width: 400px;
    margin: auto;
    font-size: medium;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1),0 1px 3px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
}
form label{
    display: block;
    margin-top: 5px;
    font-weight: bold;
    color: #333;
}
form input[type="text"],
form input[type="password"],
form input[type="email"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.helptext{
    color: rgb(223, 41, 41);
    font-weight: bold;

}
form input[type="submit"]{
   
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

}
form input[type="submit"]:hover{
    background: #0056b3;
}
form input[type="submit"]{
    background: #00408b;
}
